.cart {
    display: flex;
    flex-direction: column;
    align-items: center;
    .cartTitle {
        margin-bottom: 5rem;
    }
    .cartContent {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        align-items: center;
        .cartContentList {
            color: black;
            list-style: none;
            display: flex;
            flex-direction: column;
            gap: 1rem;
            .cartContentListLink {
                text-decoration: none;
                color: black;
                &:hover {
                    transition: 0.2s;
                    color: rgb(255, 193, 7);
                }
            }
        }
    }
}