.itemListContainer {
    display: flex;
    flex-direction: column;
    .greeting{
        display: flex;
        justify-content: center;
    }
    .itemList {
        margin-top: 2rem;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 3rem;
        flex-wrap: wrap;
    }
}



