* {
    position: relative;
}

#Navbar {
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    background-color: gold;
}

.logo {
    display: flex;
}

.categories {
    display: flex;
    gap: 20%;
    margin-right: 10%;
    align-items: center;
    list-style: none;
}

.cart {
    margin-top: 80%;
    height: 50%;
}